html { 
    background: url(../images/sw.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
    color: white;
    font-size: 20px;
}

button {
    border: 1px solid black;
    font-size: 17px;
}

h1 {
    margin-bottom: 0;
    padding-right: 10px;
    text-align: end;
    color: white;
}

img {
    width: 100%;
    max-width: 150px;
}
.character {
    display: inline-block;
    cursor: pointer;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 17px;
    margin-right: 20px;
}

.character:hover {
    background:white;
    color: black;
}

.character-health {
    text-align: right;
  }