html { 
    background: url(../images/sw.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: static;
}
body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
}
h1 {
    margin-bottom: 0;
    padding-right: 50px;
    text-align: end;
    color: white;
} 

h3 {
    padding-left: 15px;
    margin-top: 0; 
    margin-bottom: 10px;
    color: white;
}

button {
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    overflow: auto;
    height: auto;
}

.style {
    position: relative;
    float: left;
    border: 1px solid grey;
    padding: 23px 10px 18px;
    margin-left: 15px;
    overflow: auto;
}

.style:hover {
    background:white;
}

.style img {
    width: 100%;
    max-width: 150px;
}

.tag {
    position: absolute;
    top: 0;
    margin: 0;

}
.score {
    position: absolute;
    margin: 0;
    right: 10px;
    bottom: 1px;
}

.clear {
    clear: both;
}

@media screen and (max-width: 640px){
    .style img {
        max-width: 125px;
    }
}

@media screen and (max-width: 360px){
    .style img {
        max-width: 100px;
    }
}



