html { 
    background: url(../images/ar.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    padding-right: 100px;
    text-align: end;
    color: white;
} 

h2 {
    color: white;
    padding-left: 10px;
}

.container {
    width: 100%;
    overflow: auto;
    height: auto;
}

.image {
    position: relative;
    margin-right: 20px;
    max-width: 170px;
    float: left;
    background: white;
    padding: 20px 10px;
}

.image img {
    width: 100%;
    max-width: 150px;
   
}

.tag {
    position: absolute;
    left:45px;
    top: 3px;
    margin: 0;

}
.score {
    position: absolute;
    margin: 0;
    left: 80px;
}

